---
export interface Props {
  title?: string
  now: string
  others: Array<string>
}

// import "../styles/global.css"

const { title = "Jessedit", now, others } = Astro.props
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600&display=swap"
  rel="stylesheet"
/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<body
  class="bg-purple-300 text-purple-900 antialiased text-lg tracking-wide dark:bg-purple-800 dark:text-purple-200 scroll-behavior-smooth overflow-x-hidden max-w-full"
>
  <slot />
</body>
